---
interface Props {
    title: string;
    body: string;
    bg: 'web' | 'app' | 'graphic';
}
const { title, body, bg } = Astro.props;

const wrapperClass = `header__wrapper header__wrapper--${bg}`;
---

<header class="header">
    <div class={wrapperClass}>
        <h1 class='header__title"'>{title}</h1>
        <p class="header__body">{body}</p>
    </div>
</header>
<style lang="scss">
    .header {
        margin-bottom: 7.5rem;
        position: relative;
        &__wrapper {
            width: 100%;
            padding-inline: var(--space-lateral);
            padding-block: 6.5625rem;
            background-color: var(--color-primary);
            background-image: url('/assets/web-design/bg-pattern-intro-web.svg');
            background-repeat: no-repeat;
            background-position: top right;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            text-align: center;
            color: var(--color-white);
            font-style: normal;
        }
        &__title {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.12; /* 112.5% */
        }
        &__body {
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.66;
        }
    }
    @media (min-width: 43.75rem) {
        .header {
            padding-inline: var(--space-lateral);
            &__wrapper {
                padding-inline: 2rem;
                padding-block: 4rem;
                border-radius: 15px;
                background-position: center left 15%;
            }
            &__title {
                font-size: 3rem;
                line-height: 1;
            }
            &__body {
                font-size: 1rem;
                line-height: 1.62;
                max-width: 25rem;
            }
        }
    }
    @media (min-width: 62.5rem) {
        .header {
            margin-bottom: 10rem;
            &__wrapper {
                &--web {
                    background-position: center right;
                }
                &--app {
                    background-image: url('/assets/app-design/bg-pattern-intro-app.svg');
                    background-position: center left -25%;
                }
                &--graphic {
                    background-image: url('/assets/graphic-design/bg-pattern-intro-graphic.svg');
                    background-position: center left -25%;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 1006px;
                height: 594px;
                border-radius: 297px 297px 297px 0px;
                opacity: 0.5023;
                background-color: var(--color-light-grey);
                z-index: -1;
            }
        }
    }
</style>
