---
interface Props {
    title: string;
    body: string;
    bg: 'web' | 'app' | 'graphic';
}
const { title, body, bg } = Astro.props;

const wrapperClass = `header__wrapper header__wrapper--${bg} bg-primary`;
---

<header class="header bg-leaf">
    <div class={wrapperClass}>
        <div class="header__info">
            <h1 class="font-h1">{title}</h1>
            <p class="font-secondary">{body}</p>
        </div>
    </div>
</header>
<style lang="scss">
    .header {
        margin-bottom: 7.5rem;
        position: relative;
        &__wrapper {
            width: 100%;
            padding-inline: var(--space-lateral);
            padding-block: 6.5625rem;
            background-image: url('/assets/web-design/bg-pattern-intro-web.svg');
            background-repeat: no-repeat;
            background-position: top right;
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            text-align: center;
        }
    }
    @media (min-width: 43.75rem) {
        .header {
            padding-inline: var(--space-lateral);
            &__wrapper {
                padding-inline: 2rem;
                padding-block: 4rem;
                border-radius: 15px;
                background-position: center left 15%;
            }
            &__info {
                max-width: 25rem;
                margin-inline: auto;
            }
        }
    }
    @media (min-width: 62.5rem) {
        .header {
            &__wrapper {
                &--web {
                    background-position: center right;
                }
                &--app {
                    background-image: url('/assets/app-design/bg-pattern-intro-app.svg');
                    background-position: center left -25%;
                }
                &--graphic {
                    background-image: url('/assets/graphic-design/bg-pattern-intro-graphic.svg');
                    background-position: center left -25%;
                }
            }
            &.bg-leaf::after {
                top: 50%;
                left: 0;
            }
        }
    }
</style>
