---
import Button from '@src/components/commons/Button.astro';
---

<header class="header">
    <div class="header__hero" data-target="hero-paralax-wrapper">
        <div class="header__info">
            <h1 class="header__title">
                Award-winning custom designs and digital branding solutions
            </h1>
            <p class="header__body">
                With over 10 years in the industry, we are experienced in
                creating fully responsive websites, app design, and engaging
                brand experiences. Find out more about our services.
            </p>
            <div class="header__cta">
                <Button variant="white">Learn More</Button>
            </div>
        </div>
        <img
            class="header__image"
            data-target="hero-paralax-image"
            src="/assets/home/desktop/image-hero-phone.png"
            alt="A Phone with a web page"
        />
    </div>
</header>
<style lang="scss">
    .header {
        &__hero {
            background-color: var(--color-primary);
            padding-inline: var(--space-lateral);
            padding-block: 5rem;
            position: relative;
            overflow: hidden;
            min-height: 52.6875rem;
        }
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__title {
            text-align: center;
            color: var(--color-white);
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.12; /* 112.5% */
            margin-bottom: 0.875rem;
        }
        &__body {
            text-align: center;
            color: var(--color-white);
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.62; /* 162.5% */
            margin-bottom: 1.5rem;
        }
        &__image {
            position: absolute;
            left: 50%;
            top: calc(100% - 550px);
            width: 160%;
            transform: translate(-50%, 0);
        }
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const parallaxSection: HTMLElement | null = document.querySelector(
            '[data-target="hero-paralax-wrapper"]'
        );
        const parallaxImage: HTMLElement | null = document.querySelector(
            "[data-target='hero-paralax-image']"
        );

        function handleParallax() {
            if (parallaxSection && parallaxImage) {
                const rect = parallaxSection.getBoundingClientRect();
                const windowHeight =
                    window.innerHeight || document.documentElement.clientHeight;

                if (rect.bottom <= windowHeight && rect.bottom >= 0) {
                    const distanceFromBottom = windowHeight - rect.bottom;
                    const parallaxSpeed = 0.4;
                    const parallaxOffset = distanceFromBottom * parallaxSpeed;

                    parallaxImage.style.transform = `translate(-50%, ${parallaxOffset}px)`;
                }
            }
        }

        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        window.addEventListener('scroll', handleParallax);
                    } else {
                        window.removeEventListener('scroll', handleParallax);
                    }
                });
            },
            {
                root: null,
                threshold: 0,
            }
        );

        if (parallaxSection) {
            observer.observe(parallaxSection);
        }
    });
</script>
