---
import Layout from '@src/layouts/BaseLayout.astro';
import LocationCTA from '@src/components/sections/shared/LocationCTA.astro';
import Button from '@src/components/commons/Button.astro';
import Input from '@src/components/forms/Input.astro';
---

<Layout title="Contact | Designo">
    <form action="">
        <Input name="name" label="name" />
    </form>
    <LocationCTA />
</Layout>
