---
interface Props {
    href?: string;
    variant?: 'white' | 'primary';
}
const { href, variant = 'primary' } = Astro.props;
const btnClass = `button ${variant}`;
---

{
    href ? (
        <a href={href} class={btnClass}>
            <slot />
        </a>
    ) : (
        <button class={btnClass}>
            <slot />
        </button>
    )
}
<style lang="scss">
    .button {
        display: block;
        width: fit-content;
        padding: 1rem 1.5rem;
        border: none;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 8px;
        &.white {
            background-color: var(--color-white);
            color: var(--color-grey-dark);
        }
        &.primary {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
        &:hover {
            background-color: var(--color-secondary--light);
            color: var(--color-white);
        }
    }
</style>
