---
import { Image } from 'astro:assets';
import LogoDark from '@src/assets/shared/logo-dark.png';
import LogoLight from '@src/assets/shared/logo-light.png';

interface Props {
    dark?: boolean;
}

const { dark = false } = Astro.props;
const logo = dark ? LogoDark : LogoLight;
---

<a class="logo" href="/" aria-label="Go to Designo Home Page">
    <Image class="logo__img" src={logo} alt="Go to Designo Home Page" />
</a>
<style lang="scss">
    .logo {
        display: block;
        width: 12.625rem;
        height: fit-content;
        &__img {
            width: 100%;
            height: auto;
        }
    }
</style>
