---
import { Image } from 'astro:assets';
import svgFriendly from '@src/assets/home/illustration-friendly.svg';
import svgPassionate from '@src/assets/home/illustration-passionate.svg';
import svgResourceful from '@src/assets/home/illustration-resourceful.svg';

const items = [
    {
        title: 'PASSIONATE',
        body: 'Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.',
        image: svgPassionate,
        alt: 'Illustration of a person designing on a computer',
    },
    {
        title: 'RESOURCEFUL',
        body: 'Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.',
        image: svgResourceful,
        alt: 'Illustration of a person drawing on a computer',
    },
    {
        title: 'FRIENDLY',
        body: ' We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.',
        image: svgFriendly,
        alt: 'Illustration of two persons with a friendly face',
    },
];
---

<section class="about bg-leaf">
    {
        items.map((item) => (
            <div class="about__item">
                <div class="about__item__img bg-circle">
                    <Image src={item.image} alt={item.alt} />
                </div>
                <div class="about__item__info">
                    <h2 class="about__item__title font-h3">{item.title}</h2>
                    <p class="font-body">{item.body}</p>
                </div>
            </div>
        ))
    }
</section>
<style lang="scss">
    .about {
        padding-inline: var(--space-lateral);
        margin-bottom: 10rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5rem;
        column-gap: 1.875rem;
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            &__img {
                width: fit-content;
            }
            &:nth-child(1) .bg-circle::before {
                transform: rotate(-90deg);
            }
            &:nth-child(2) .bg-circle::before {
                transform: rotate(180deg);
            }
            &:nth-child(3) .bg-circle::before {
                transform: rotate(0deg);
            }
            &__info {
                text-align: center;
                font-style: normal;
                flex-grow: 1;
            }
            &__title {
                margin-bottom: 2rem;
            }
        }
    }
    @media (min-width: 43.75rem) {
        .about {
            row-gap: 2rem;
            &__item {
                flex-direction: row;
                &__info {
                    text-align: left;
                }
                &__title {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    @media (min-width: 1200px) {
        .about {
            flex-direction: row;
            align-items: flex-start;
            &__item {
                flex-direction: column;
                &__info {
                    text-align: center;
                }
                &__title {
                    margin-bottom: 2rem;
                }
            }
        }
        .bg-leaf::after {
            top: 125px;
            right: 0;
            transform: rotate(180deg);
        }
    }
</style>
