---
import Button from '@src/components/commons/Button.astro';
import { Picture } from 'astro:assets';
import heroImage from '@src/assets/home/image-hero-phone.png';
---

<header class="header bg-leaf">
    <div class="header__hero bg-primary" data-target="hero-paralax-wrapper">
        <div class="header__info">
            <h1 class="header__title font-h1">
                Award-winning custom designs and digital branding solutions
            </h1>
            <p class="header__body font-secondary">
                With over 10 years in the industry, we are experienced in
                creating fully responsive websites, app design, and engaging
                brand experiences. Find out more about our services.
            </p>
            <div class="header__cta">
                <Button variant="white">Learn More</Button>
            </div>
        </div>
        <div class="header__image" data-target="hero-paralax-image">
            <div class="header__img">
                <Picture
                    src={heroImage}
                    formats={['webp', 'png']}
                    alt="A cellphone with a frame design"
                />
            </div>
        </div>
    </div>
</header>
<style lang="scss">
    .header {
        position: relative;
        margin-bottom: 7.5rem;
        &__hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            column-gap: 6.125rem;
            row-gap: 5rem;
            padding-inline: var(--space-lateral);
            padding-block: 5rem;
            overflow: hidden;
            background-image: url('/assets/home/desktop/bg-pattern-hero-home.svg');
            background-repeat: no-repeat;
            background-position: center left 0;
            background-size: auto 76%;
        }
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 33.75rem;
            width: 100%;
            text-align: center;
        }
        &__title {
            margin-bottom: 1rem;
        }
        &__body {
            margin-bottom: 1.5rem;
            max-width: 27.8125rem;
        }
        &__image {
            position: relative;
            max-width: 17.5rem;
            min-height: 300px;
            width: 100%;
            perspective: 100vh;
            perspective-origin: bottom center;
        }
        &__img {
            animation: none;
            position: absolute;
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0);
            transform-origin: center bottom;
            transition: top 0.1s;
            filter: drop-shadow(20px -40px 50px rgba(93, 2, 2, 0.7));
            animation: 1s ease-out 0.1s forwards popIn;
            & img {
                width: 100%;
            }
        }
    }
    @media (min-width: 43.75rem) {
        .header {
            padding-inline: var(--space-lateral);
            &__hero {
                padding-block: 3.75rem;
                row-gap: 4.375rem;
                border-radius: 15px;
                background-position: center left 170px;
            }
            &__title {
                margin-bottom: 1.5rem;
            }
            &__body {
            }
            &__image {
                min-height: 320px;
            }
        }
    }
    @media (min-width: 75rem) {
        .header {
            margin-bottom: 10rem;
            &__hero {
                flex-direction: row;
                align-items: stretch;
                justify-content: space-between;
                padding: 9.0625rem 5.9375rem;
                background-position: center right 0;
                background-size: auto 100%;
            }
            &__info {
                flex: 1 1 33.75rem;
                width: auto;
                align-items: flex-start;
                text-align: left;
            }
            &__title {
                margin-bottom: 2rem;
            }
            &__body {
                margin-bottom: 2.5rem;
            }
            &__image {
                flex: 1 1 17.5rem;
                width: auto;
            }
        }
        .bg-leaf::after {
            top: 50%;
            left: 0;
        }
    }
    @keyframes popIn {
        from {
            transform: translate(-50%, 0) rotate3d(1, 0, 0, 90deg);
        }
        to {
            transform: translate(-50%, 0) rotate3d(1, 0, 0, 0deg);
        }
    }
</style>
<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    document.addEventListener('DOMContentLoaded', () => {
        const parallaxImage = document.querySelector(
            "[data-target='hero-paralax-image']"
        );

        if (parallaxImage) {
            gsap.to(parallaxImage, {
                y: 100,
                ease: 'none',
                scrollTrigger: {
                    trigger: "[data-target='hero-paralax-wrapper']",
                    start: 'bottom bottom',
                    end: 'bottom top',
                    scrub: true,
                },
            });
        }
    });
</script>
