---
import Button from '@src/components/commons/Button.astro';
---

<section class="section-cta">
    <div class="cta__wrapper bg-primary">
        <div class="cta__info">
            <p class="cta__title font-h2">
                Let’s talk about <br /> your project
            </p>
            <p class="font-secondary">
                Ready to take it to the next level? Contact us today and find
                out how our expertise can help your business grow.
            </p>
        </div>
        <div class="cta__btn">
            <Button variant="white" href="/contact">Get in touch</Button>
        </div>
    </div>
</section>
<style lang="scss">
    .section-cta {
        padding-inline: var(--space-lateral);
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            inset: 50% 0 0 0;
            background-color: var(--color-black);
            z-index: -1;
        }
    }
    .cta {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            border-radius: 15px;
            background-image: url('/assets/shared/desktop/bg-pattern-call-to-action.svg');
            background-repeat: no-repeat;
            background-position: center left 43%;
            padding-inline: 1.5rem;
            padding-block: 4rem;
        }
        &__info {
            text-align: center;
            max-width: 28.125rem;
        }
        &__title {
            margin-bottom: 0.5rem;
        }
        &__btn {
            width: fit-content;
        }
    }
    @media (min-width: 43.75rem) {
        .section-cta {
            &::after {
                top: 75%;
            }
        }
        .cta {
            &__wrapper {
                padding-block: 3.5625rem;
                background-position: center left 10%;
            }
            &__title {
                margin-bottom: 1rem;
            }
        }
    }
    @media (min-width: 1000px) {
        .cta {
            &__wrapper {
                padding: 4.5rem 5.9375rem;
                flex-direction: row;
                background-position: center right 0;
            }
            &__info {
                text-align: left;
            }
        }
    }
</style>
