---
import { Image } from 'astro:assets';
import Logo from '@src/assets/shared/logo-light.png';
import SvgFem from '@src/components/svg/SvgFem.astro';
import SvgWeb from '@src/components/svg/SvgWeb.astro';
import SvgGithub from '@src/components/svg/SvgGithub.astro';
import SvgLinkedin from '@src/components/svg/SvgLinkedin.astro';

const socials = [
    {
        name: 'My Github Profile',
        href: 'https://www.linkedin.com/in/marcos-valenzuela-dev/',
        icon: SvgGithub,
    },
    {
        name: 'My Linkedin Profile',
        href: 'https://www.linkedin.com/in/marcos-valenzuela-dev/',
        icon: SvgLinkedin,
    },
    {
        name: 'My Frontend Mentor Profile',
        href: 'https://www.frontendmentor.io/profile/Dantalian5',
        icon: SvgFem,
    },
    {
        name: 'My Portfolio',
        href: 'https://valenzuela.dev',
        icon: SvgWeb,
    },
];
---

<footer class="footer bg-dark">
    <div class="footer__top">
        <Image class="footer__logo" src={Logo} alt="Designo Logo" />
        <span class="footer__divider"></span>
        <nav class="footer__nav">
            <ul class="footer__nav__list">
                <li class="footer__nav__item">
                    <a href="/about" class="link">Our Company</a>
                </li>
                <li class="footer__nav__item">
                    <a href="/location" class="link">Locations</a>
                </li>
                <li class="footer__nav__item">
                    <a href="/contact" class="link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="footer__bottom">
        <p class="footer__info font-body">
            <span class="font--bold"> Designo Central Office </span>
            <br />
            3886 Wellington Street <br /> Toronto, Ontario M9C 3J5
        </p>
        <p class="footer__info font-body">
            <span class="font--bold"> Contact Us (Central Office) </span>
            <br />
            P : +1 253-863-8967 <br /> M : contact@designo.co
        </p>
        <nav class="footer__socials">
            <ul class="footer__socials__list">
                {
                    socials.map((social) => (
                        <li class="footer__socials__item">
                            <a
                                href={social.href}
                                aria-label={social.name}
                                title={social.name}
                                class="footer__socials__link"
                            >
                                <social.icon />
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</footer>
<style lang="scss">
    .footer {
        padding-inline: var(--space-lateral);
        padding-block: 4rem;
        &__top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2.5rem;
        }
        &__logo {
            width: 12.625rem;
            height: auto;
        }
        &__divider {
            width: 100%;
            height: 1px;
            opacity: 0.1;
        }
        &__nav {
            width: fit-content;
            &__list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
            &__item {
                list-style: none;
            }
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
        }
        &__info {
            width: fit-content;
            text-align: center;
            opacity: 0.5;
        }
        &__socials {
            width: fit-content;
            &__list {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
            }
            &__item {
                list-style: none;
            }
            &__link {
                display: block;
                width: fit-content;
                height: fit-content;
                color: var(--color-primary);
                font-size: 1.5rem;
                &:hover {
                    transform: scale(1.1);
                    color: var(--color-secondary--light);
                }
            }
        }
    }
    @media (min-width: 43.75rem) {
        .footer {
            padding-block: 5rem;
            &__top {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 2.5rem;
            }
            &__divider {
                order: 3;
            }
            &__nav {
                &__list {
                    flex-direction: row;
                    gap: 2.625rem;
                }
            }
            &__bottom {
                flex-direction: row;
                justify-content: space-between;
                gap: 2rem;
            }
            &__info {
                text-align: left;
            }
            &__socials {
                align-self: flex-end;
            }
        }
    }
</style>
