---
import Logo from '@src/components/commons/Logo.astro';
import Hamburguer from '@src/components/commons/Hamburguer.astro';
---

<div class="navbar">
    <Logo dark />
    <nav class="navbar__menu" data-target="navigation-menu">
        <a href="/about" class="navbar__menu__item link"> our company </a>
        <a href="/location" class="navbar__menu__item link"> locations </a>
        <a href="/contact" class="navbar__menu__item link"> contact </a>
    </nav>
    <Hamburguer />
</div>
<style lang="scss">
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        padding: 2.125rem var(--space-lateral);
        background-color: var(--color-white);
        position: relative;
        &__menu {
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            background-color: var(--color-black);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            row-gap: 2rem;
            column-gap: 2.625rem;
            padding: 3rem var(--space-lateral);
            opacity: 0;
            transform: translateY(-100%);
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            z-index: -1;
            &__item {
                color: var(--color-white);
                font-size: 1.5rem;
            }
            &.active {
                opacity: 1;
                top: 100%;
                transform: translateY(0);
            }
        }
    }
    @media (min-width: 43.75rem) {
        .navbar {
            padding-block: 4rem;
            &__menu {
                position: static;
                transform: none;
                width: fit-content;
                padding: 0;
                flex-direction: row;
                align-items: center;
                z-index: 1;
                opacity: 1;
                background: none;
                &__item {
                    color: var(--color-dark-grey);
                    font-size: 14px;
                    font-style: normal;
                    line-height: 1; /* 100% */
                    letter-spacing: 2px;
                }
            }
        }
    }
</style>
